:root {
  --main-red: #ff0000;
  --shadow-red: #ae0000;
  --main-white: #dff8eb; /* fcfcfc */
  --main-black: #1d1e18;
  --main-grey: #7f7979;
  --main-blue: #090446;
}

body {
  background-color: var(--main-black);
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filters {
  width: 20%;
  min-width: 200px;
  margin-right: 10px;
  background-color: var(--main-red);
  border-radius: 5px;
  max-height: calc(100vh - 100px);
}

.data {
  width: 75%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  text-align: center;
  background-color: var(--main-grey);
  border-radius: 5px;
}

.card {
  width: 200px;
  height: 250px;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  background-color: var(--main-red);
  box-shadow: 0px 0px 1px var(--shadow-red), 0px 0.5px 2px var(--shadow-red);
}

.card:hover {
  box-shadow: 0px 1px 3px var(--main-grey), 0px 1px 5px var(--main-white);
  cursor: pointer;
}

.card h1 {
  font-size: 20px;
  text-transform: capitalize;
  background-color: var(--main-white);
  border-radius: 5px;
  padding: 5px;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--main-red);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-white);
}
