:root {
  --main-red: #ff0000;
  --shadow-red: #ae0000;
  --main-white: #dff8eb; /* fcfcfc */
  --main-black: #1d1e18;
  --main-grey: #7f7979;
  --main-blue: #090446;
}

body {
  background-color: var(--main-black);
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-interactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  background-color: var(--main-grey);
  border-radius: 5px;
}

.filters,
.drag-and-drop {
  width: 250px;
  margin: 10px 0px;
  background-color: var(--main-red);
  border-radius: 5px;
  height: 250px;
}

.data {
  width: 75%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  text-align: center;
  background-color: var(--main-grey);
  border-radius: 5px;
}

.card {
  width: 200px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  padding: 5px;
  background-color: var(--main-red);
  box-shadow: 0px 0px 1px var(--shadow-red), 0px 0.5px 2px var(--shadow-red);
}

img {
  background-color: var(--main-white);
  border-radius: 5px;
  margin: 10px;
}

.card img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card:hover img {
  -webkit-transform: scale(1.08);
  transform: scale(1.1);
}

.card:hover {
  box-shadow: 0px 1px 3px var(--main-grey), 0px 1px 5px var(--main-white);
  cursor: pointer;
}

.card h1 {
  font-size: 20px;
  text-transform: capitalize;
  background-color: var(--main-white);
  border-radius: 5px;
  padding: 5px;
  margin: 0;
}

.modal-content h1 {
  font-size: 20px;
  text-transform: capitalize;
  background-color: var(--main-white);
  border-radius: 5px;
  padding: 15px;
  margin: 0;
  width: fit-content;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--main-red);
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--main-white);
  width: 80%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--main-red);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-white);
}
